In [ ]:
#Task 1 - Fitbit Dataset

1. Read this dataset in pandas , mysql and mongodb 
2. while creting a table in mysql dont use manual approach to create it  ,always use a automation to create a table in mysql
 ## hint - use csvkit library to automate this task and to load a data in bulk in you mysql 
3. convert all the dates avaible in dataset to timestamp format in pandas and in sql you to convert it in date format
4 . Find out in this data that how many unique id's we have 
5 . which id is one of the active id that you have in whole dataset 
6 . how many of them have not logged there activity find out in terms of number of ids 
7 . Find out who is the laziest person id that we have in dataset 
8 . Explore over an internet that how much calories burn is required for a healthy person and find out how many healthy person we have in our dataset 
9. how many person are not a regular person with respect to activity try to find out those 
10 . who is the thired most active person in this dataset find out those in pandas and in sql both . 
11 . who is the 5th most laziest person avilable in dataset find it out 
12 . what is a totla acumulative calories burn for a person find out

In [1]:
import pandas as pd
import csvkit
import mysql.connector as conn
import pymongo
import MySQLdb # mysqlclient
import json

### 1. Read this dataset in pandas , mysql and mongodb

In [2]:
# Read this dataset in pandas
df=pd.read_csv('FitBitdata.csv')

In [3]:
df.head()

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,3/25/2016,11004,7.11,7.11,0.0,2.57,0.46,4.07,0.0,33,12,205,804,1819
1,1503960366,3/26/2016,17609,11.55,11.55,0.0,6.92,0.73,3.91,0.0,89,17,274,588,2154
2,1503960366,3/27/2016,12736,8.53,8.53,0.0,4.66,0.16,3.71,0.0,56,5,268,605,1944
3,1503960366,3/28/2016,13231,8.93,8.93,0.0,3.19,0.79,4.95,0.0,39,20,224,1080,1932
4,1503960366,3/29/2016,12041,7.85,7.85,0.0,2.16,1.09,4.61,0.0,28,28,243,763,1886

In [5]:
#Task 2 - Bulk upload in MYSQL - commandline automation
mydb=conn.connect(host='localhost',user='root',passwd='mysql1234')
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001EC8A04BCA0>

In [6]:
cursor=mydb.cursor()

In [19]:
cursor.execute('create database if not exists FitBittask') #database create in mysql named is FitBittask

In [21]:
#To bulk upload data from console, i have run the below statment with help of csvkit library'
#This uploaded the data in MYSQL in database named FitBittask. 
#The file fitbitdata.csv was already uploaded to jupyter local.
# The below command can however be executed directly from jupyter notebook with '!'
!csvsql --db mysql://root:mysql1234@localhost:3306/fitbittask --insert "FitBitdata.csv"

C:\Users\Administrator\anaconda3\lib\site-packages\win32\lib\pywintypes.py:2: DeprecationWarning: the imp module is deprecated in favour of importlib; see the module's documentation for alternative uses
C:\Users\Administrator\anaconda3\lib\site-packages\agate\table\from_csv.py:74: RuntimeWarning: Error sniffing CSV dialect: Could not determine delimiter
C:\Users\Administrator\anaconda3\lib\site-packages\IPython\utils\_process_win32.py:145: ResourceWarning: unclosed file <_io.BufferedWriter name=4>
C:\Users\Administrator\anaconda3\lib\site-packages\IPython\utils\_process_win32.py:145: ResourceWarning: unclosed file <_io.BufferedReader name=5>
C:\Users\Administrator\anaconda3\lib\site-packages\IPython\utils\_process_win32.py:145: ResourceWarning: unclosed file <_io.BufferedReader name=6>

In [ ]:
#Bulk upload data in Mongodb

In [34]:
#'open mongodb connection and push the local JSON data into mongodb server'
client = pymongo.MongoClient("mongodb+srv://mongodb:Rohit123@cluster0.4jhuusd.mongodb.net/?retryWrites=true&w=majority")
db = client.test

In [30]:
#'convert csv to json for upload in mongodb'
df.to_json('FitBitdata.json')

In [31]:
#'read the JSON file and run to check the data is in proper format'
df_json=pd.read_json('FitBitdata.json')

In [33]:
df_json.head()

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,3/25/2016,11004,7.11,7.11,0.0,2.57,0.46,4.07,0.0,33,12,205,804,1819
1,1503960366,3/26/2016,17609,11.55,11.55,0.0,6.92,0.73,3.91,0.0,89,17,274,588,2154
2,1503960366,3/27/2016,12736,8.53,8.53,0.0,4.66,0.16,3.71,0.0,56,5,268,605,1944
3,1503960366,3/28/2016,13231,8.93,8.93,0.0,3.19,0.79,4.95,0.0,39,20,224,1080,1932
4,1503960366,3/29/2016,12041,7.85,7.85,0.0,2.16,1.09,4.61,0.0,28,28,243,763,1886

In [35]:
database=client['fitbitdat']# database created in mongodb

In [36]:
print(database)

Database(MongoClient(host=['ac-fu7xisf-shard-00-01.4jhuusd.mongodb.net:27017', 'ac-fu7xisf-shard-00-00.4jhuusd.mongodb.net:27017', 'ac-fu7xisf-shard-00-02.4jhuusd.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-nzgna6-shard-0', tls=True), 'fitbitdat')

In [37]:
collection=database['fitbittb']# collection or table crete in mongodb

In [41]:
with open('FitBitdata.json') as f:
    data=[(json.load)(f)]
collection.insert_many(data) #uploaded successfully

In [42]:
#3. Convert all the dates avaible in dataset to timestamp format in pandas and in sql you to convert it in date format
df.dtypes

#'here we need to convert ActivityDate to dates

Id                            int64
ActivityDate                 object
TotalSteps                    int64
TotalDistance               float64
TrackerDistance             float64
LoggedActivitiesDistance    float64
VeryActiveDistance          float64
ModeratelyActiveDistance    float64
LightActiveDistance         float64
SedentaryActiveDistance     float64
VeryActiveMinutes             int64
FairlyActiveMinutes           int64
LightlyActiveMinutes          int64
SedentaryMinutes              int64
Calories                      int64
dtype: object

In [43]:
df['ActivityDate']=pd.to_datetime(df['ActivityDate'])

In [44]:
df.dtypes# converted into datetime format

Id                                   int64
ActivityDate                datetime64[ns]
TotalSteps                           int64
TotalDistance                      float64
TrackerDistance                    float64
LoggedActivitiesDistance           float64
VeryActiveDistance                 float64
ModeratelyActiveDistance           float64
LightActiveDistance                float64
SedentaryActiveDistance            float64
VeryActiveMinutes                    int64
FairlyActiveMinutes                  int64
LightlyActiveMinutes                 int64
SedentaryMinutes                     int64
Calories                             int64
dtype: object

In [ ]:
#4. Find out in this data that how many unique id's we have

In [47]:
len(df['Id'].unique())  #There are 35 unique id's

35

In [57]:
#5. which id is one of the active id that you have in whole dataset 
df.groupby('Id')['TotalSteps'].sum().sort_values(ascending=False).head(3)

Id
1503960366    221170
8877689391    209005
4020332650    184851
Name: TotalSteps, dtype: int64

In [ ]:
#6 . how many of them have not logged there activity find out in terms of number of ids

In [92]:
# For ID's with LoggedActivitiesDistance is not 0 is given by
logged_activity=df[df['LoggedActivitiesDistance']!=0]['Id'].unique()

In [ ]:
#Hence we have 6 unique Id's who have logged activities details once atleast.
#So total unique ID's who have never logged details is given by 35- 6 = 29
#We have 29 ID's who have never logged their details.

In [93]:
logged_activity

array([2891001357, 4057192912, 6391747486, 6962181067, 7007744171,
       8378563200], dtype=int64)

In [94]:
len(logged_activity)

6

In [95]:
# 7 . Find out who is the laziest person id that we have in dataset

In [48]:
#Person with ID 1503960366 is the laziest person
df[df['Calories']>0].sort_values(['Calories']).reset_index(drop=True).iloc[[0]]

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,4/12/2016,224,0.14,0.14,0.0,0.0,0.0,0.13,0.0,0,0,9,32,50

In [87]:
#8 . Explore over an internet that how much calories burn is required for a healthy person and find out how many healthy person we have in our dataset

In [88]:
#According to Internet: As a general guideline, women typically burn about 2,000 calories per day and men burn about 2,500 calories per day. These numbers are often used to determine 
#an approximate food intake for weight maintenance. As we don.t know the exact gender of the person, we will take average of both.
#i.e. 2250 calories are required to be burned per day for a healthy person.

In [80]:
len(df[df['Calories']>2250]['Id'].unique())#So there are 24 persons who are healthy

24

In [86]:
#And if we consider the minimum calories of the required calories burnt, then :
len(df[df['Calories']>2000]['Id'].unique())

30

In [ ]:
#9. how many person are not a regular person with respect to activity try to find out those

In [108]:
(df[df['TotalSteps']==0]['Id'].unique())

array([1844505072, 2320127002, 2347167796, 2873212765, 2891001357,
       4057192912, 4319703577, 4388161847, 4702921684, 6117666160,
       6290855005, 6391747486, 6775888955, 8253242879], dtype=int64)

In [109]:
len(df[df['TotalSteps']==0]['Id'].unique())

14

In [ ]:
#10 . who is the thired most active person in this dataset find out those in pandas and in sql both .

In [115]:
# ID 4020332650  is the third most active person in dataset.
df.groupby('Id')['TotalSteps'].sum().sort_values(ascending=False).head(3)

Id
1503960366    221170
8877689391    209005
4020332650    184851
Name: TotalSteps, dtype: int64

In [117]:
# 11 . who is the 5th most laziest person avilable in dataset find it out

In [124]:
df.sort_values('TotalSteps').reset_index().tail()

,index,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
452,452,8877689391,4/8/2016,23014,20.389999,20.389999,0.0,11.10,0.63,8.62,0.00,70,29,359,982,4196
453,450,8877689391,4/6/2016,24136,20.910000,20.910000,0.0,12.22,0.54,8.08,0.00,87,16,318,1019,4039
454,391,8053475328,4/3/2016,25701,20.139999,20.139999,0.0,16.82,1.63,1.69,0.00,165,36,97,1142,3697
455,446,8877689391,4/2/2016,27572,23.389999,23.389999,0.0,14.72,1.21,7.34,0.01,116,24,260,1040,4220
456,454,8877689391,4/10/2016,28497,27.530001,27.530001,0.0,21.92,1.12,4.46,0.00,128,46,211,1055,4526

In [129]:
df.groupby('Id')['TotalSteps'].sum().sort_values(ascending=False).tail(5)

Id
8583815059    24364
6290855005    16181
6391747486    12032
2891001357     6189
4388161847        0
Name: TotalSteps, dtype: int64

In [ ]:
# ID 8583815059   is the 5th most laziest person.

In [ ]:
# 12 . what is a total acumulative calories burn for a person find out

In [132]:
df.groupby(['Id'])[['Calories']].sum().sort_values(by='Calories',ascending = False)
# sum of total calories in month

            Calories
Id
4020332650     98412
4057192912     60913
4702921684     42322
8877689391     41414
8378563200     40274
5577150313     36303
1503960366     34128
8053475328     31825
4445114986     31617
7007744171     31525
2347167796     30320
2022484408     29704
6962181067     29249
1644430081     29164
1927972279     27048
7086361926     26124
1624580081     25705
8792009665     24884
6775888955     24523
4319703577     23931
4558609924     21962
6290855005     21656
5553957443     21630
6117666160     20993
2873212765     20349
1844505072     19391
8583815059     19130
3372868164     18603
2320127002     18385
2891001357     18187
8253242879     17556
3977333714     16777
2026352035     16266
6391747486     15868
4388161847     14442